*.*
designs/*
designs/*.*
!designs/dipole_variable.yaml
!designs/bowtie_4_points_fix.yaml

!optimization.py
!objectives.py
!postprocess.py
!simulate.py
!scipy_optimization.py
!design.py
!view_cad.py

